<%= render 'layouts/header' %>
<div class="row">
  <div class="col-md-2">
    <div id="sidebar" class="well sidebar-nav" style="padding-top: 0; margin-top: -19px; height: 91vh; overflow: scroll;">

      <ul class="nav nav-pills nav-stacked">
        <li class=<%= @type == 'home' ? 'active' : "" %>>
          <%= link_to "Mô tả", exam_path(id: params[:id], type: "home") %>
        </li>
      </ul>
      <ul class="nav nav-pills nav-stacked">
        <% @questions.each_with_index do |question, index| %>
          <li class=<%= @type.to_i == question.id ? 'active' : "" %>>
            <%= link_to "Câu hỏi #{index + 1}", exam_path(id: question.exam_id, type: question.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-10">
    <% if @type == "home" %>
      <div class="card" style="text-align: center;">
        <img class="card-img-top" src="http://thaydungdayhoa.com/uploads/news/de-thi-thu/lam-bai-thi.jpg" alt="Card image cap">
        <div class="card-block" style="padding-top: 20px;">
          <h3 class="card-text">Bài kiểm tra</h3>
          <h4 class="card-text">Thời gian: ....</h4>
        </div>
      </div>
    <% else %>
      <% if @answer_true.blank? %>
        <div class="col-md-12">
          <h3><%= @question %></h3>
        </div>
        <div class="col-md-12" style="text-align: center;">
          <h3>Danh sách sinh viên chưa có trả lời</h3>
        </div>

        <div class="col-md-12" style="text-align: center;">
          <% if params[:show_answer].present? %>
            <%= link_to "Ẩn kết quả", exam_path(id: params[:id], type: params[:type]),
              class: "btn btn-primary" %>
          <% else %>
            <%= link_to "Hiện kết quả", exam_path(id: params[:id], type: params[:type], show_answer: 1),
              class: "btn btn-primary" %>
          <% end %>
        </div>

        <div class="col-md-12" style="padding-top: 10px; height: 60vh; overflow: scroll;">
          <div class="col-md-4">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Tên</th>
                  <th>Trả lời</th>
                </tr>
              </thead>
              <tbody>
                <% @students.each_with_index do |student, index| %>
                  <% if index < 27 %>
                    <% if student.content.blank? %>
                      <tr id=<%= "student_#{student.id}_#{student.question_id}" %>>
                        <td><%= student.marker_id %></td>
                        <td><%= student.name %></td>
                        <td id=<%= "content_#{student.id}_#{student.question_id}" %>><%= student.content.present? ? "Đã trả lời" : "x"  %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="col-md-4">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên</th>
                  <th>Trả lời</th>
                </tr>
              </thead>
              <tbody>
                <% @students.each_with_index do |student, index| %>
                  <% if index < 54 && index >= 27 %>
                    <% if student.content.blank? %>
                      <tr id=<%= "student_#{student.id}_#{student.question_id}" %>>
                        <td><%= student.marker_id %></td>
                        <td><%= student.name %></td>
                        <td id=<%= "content_#{student.id}_#{student.question_id}" %>><%= student.content.present? ? "Đã trả lời" : "x"  %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="col-md-4">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên</th>
                  <th>Trả lời</th>
                </tr>
              </thead>
              <tbody>
                <% @students.each_with_index do |student, index| %>
                  <% if index >= 54 %>
                    <% if student.content.blank? %>
                      <tr id=<%= "student_#{student.id}_#{student.question_id}" %>>
                        <td><%= student.marker_id %></td>
                        <td><%= student.name %></td>
                        <td id=<%= "content_#{student.id}_#{student.question_id}" %>><%= student.content.present? ? "Đã trả lời" : "x"  %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% else %>
        <div class="col-md-4">
          <h3>Kết quả: </h3>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Đáp án:</td>
                <td><%= @answer_question %></td>
              </tr>

              <tr>
                <td>Số câu trả lời đúng: </td>
                <td><%= @true_answer %></td>
              </tr>

              <tr>
                <td>Số câu trả lời sai: </td>
                <td><%= @wrong_answer %></td>
              </tr>

              <tr>
                <td>Số sinh viên chưa có câu trả lời: </td>
                <td><%= @not_answer %></td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-md-7 col-md-offset-1">
          <h3><%= @question %></h3>
        </div>

        <div class="col-md-12" style="text-align: center;">
          <h3>Danh sách kết quả trả lời</h3>
        </div>

        <div class="col-md-12" style="text-align: center;">
          <% if params[:show_answer].present? %>
            <%= link_to "Ẩn kết quả", exam_path(id: params[:id], type: params[:type]),
              class: "btn btn-primary" %>
          <% else %>
            <%= link_to "Hiện kết quả", exam_path(id: params[:id], type: params[:type], show_answer: 1),
              class: "btn btn-primary" %>
          <% end %>
        </div>

        <div class="col-md-12" style="padding-top: 10px; height: 60vh; overflow: scroll;">
          <div class="col-md-4">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên</th>
                  <th>Trả lời</th>
                  <th>Kết quả</th>
                </tr>
              </thead>
              <tbody>
                <% @students.each_with_index do |student, index| %>
                  <% if index < 27 %>
                    <tr id=<%= "student_#{student.marker_id}_#{student.question_id}" %>>
                      <td><%= index + 1 %></td>
                      <td><%= student.name %></td>
                      <td id=<%= "content_#{student.marker_id}_#{student.question_id}" %>><%= student.content.present? ? student.content : "x"  %></td>
                      <td><%= (student.content.present? &&  student.content == @answer_question)? "Đúng" : "Sai"  %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="col-md-4">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên</th>
                  <th>Trả lời</th>
                  <th>Kết quả</th>
                </tr>
              </thead>
              <tbody>
                <% @students.each_with_index do |student, index| %>
                  <% if index < 54 && index >= 27 %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= student.name %></td>
                      <td id=<%= "content_#{student.marker_id}_#{student.question_id}" %>><%= student.content.present? ? student.content : "x"  %></td>
                      <td><%= (student.content.present? &&  student.content == @answer_question)? "Đúng" : "Sai"  %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="col-md-4">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên</th>
                  <th>Trả lời</th>
                  <th>Kết quả</th>
                </tr>
              </thead>
              <tbody>
                <% @students.each_with_index do |student, index| %>
                  <% if index >= 54 %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= student.name %></td>
                      <td id=<%= "content_#{student.marker_id}_#{student.question_id}" %>><%= student.content.present? ? student.content : "x"  %></td>
                      <td><%= (student.content.present? &&  student.content == @answer_question)? "Đúng" : "Sai"  %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= subscribe_to "/answers/new" %>
